# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*
!/log/.keep

# Ignore database configuration
/config/development.json
/config/production.json
/config/test.json

# Sensible informations
.env

# Tests coverage
coverage

# Uploaded pics
public/system/pics/uploads/*

# Node
node_modules
dist/front/*
dist/server/*
!dist/front/index.html
!dist/server/.keep

# Sitemap
public/sitemap.xml

# Uploaded pics
public/system
