%section#section3.blog.single-post
  .content
    .container
      .row
        -if notice
          #notice.alert.alert-info
            =notice
        .posts-block.col-lg-9.col-md-9.col-sm-8.col-xs-12.bottom-pad
          %article.post.hentry
            %h3.content-title
              -if can? :edit, @pic
                =link_to edit_pic_path(@pic) do
                  %i.fa.fa-pencil
              -if can? :destroy, @pic
                =link_to @pic, method: :delete, data: { confirm: 'Are you sure?' } do
                  %i.fa.fa-trash
              =link_to "Picture #{@pic.id}", pic_path(@pic)
            .post-content
              =image_tag @pic.upload.url, class: 'img-responsive center-block'
        .sidebar.col-lg-3.col-md-3.col-sm-4.col-xs-12
          .widget.category
            %h3.title Categories
            =categories_list
