%section#section3.blog.single-post
  .content
    .container
      .row
        -if notice
          #notice.alert.alert-info
            =notice
        .sidebar.col-lg-2.col-md-2.col-sm-12.col-xs-12
        .posts-block.col-lg-8.col-md-8.col-sm-12.col-xs-12.bottom-pad
          = render 'form'
        .sidebar.col-lg-2.col-md-2.col-sm-12.col-xs-12
