%header.post-header
  %h3.content-title
    -if current_user
      =link_to edit_post_path(post) do
        %i.fa.fa-pencil
      =link_to post, method: :delete, data: { confirm: 'Are you sure?' } do
        %i.fa.fa-trash
    =link_to post.title, post_path(post)
  .blog-entry-meta
    .blog-entry-meta-date
      %i.fa.fa-clock-o
      %span.blog-entry-meta-date-month
        =post.created_at.strftime('%b')
      %span.blog-entry-meta-date-day
        =post.created_at.strftime('%d') + ','
      %span.blog-entry-meta-date-year
        =post.created_at.strftime('%Y')
    .blog-entry-meta-author
      %i.fa.fa-user
      .blog-entry-meta-author
        Stefano Nada
    .blog-entry-meta-tags
      %i.fa.fa-tags
      =post_header_categories_links(post)
