%section#section3.blog.single-post
  .content
    .container
      .row
        .posts-block.col-lg-9.col-md-9.col-sm-8.col-xs-12.bottom-pad
          = render 'form'
        .sidebar.col-lg-3.col-md-3.col-sm-4.col-xs-12
          .widget.category
            %h3.title Pics
            =pics_list
