%section#section3.blog.single-post
  .content
    .container
      .row
        -if notice
          #notice.alert.alert-info
            =notice
        .posts-block.col-lg-9.col-md-9.col-sm-8.col-xs-12.bottom-pad
          %article.post.hentry
            =render partial: 'post_header', locals: {post: @post}
            .post-content
              ~render_markdown @post.body
          .blog-divider
          / Comments Section Start
          .comment-wrapper
            %h3.title Comments
            .clearfix
            .comments-sec
              %ol.commentlist
                %li
                  #1.comment
                    .avatar
                      =image_tag current_user.github_avatar if current_user
                    .comment-des
                      .arrow-comment
                      .comment-by
                        %strong
                          =current_user.nickname
                        %span.date July 30, 2013
                        %span.reply
                          %a{href: "#"}
                            %i.fa.fa-reply
                            Reply
                      %p
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    .clearfix
                  %ol.childlist
                    %li
                      #3.comment
                        .avatar
                          =image_tag current_user.github_avatar if current_user
                        .comment-des
                          .arrow-comment
                          .comment-by
                            %strong
                              =current_user.nickname
                            %span.date July 30, 2013
                            %span.reply
                              %a{href: "#"}
                                %i.fa.fa-reply
                                Reply
                          %p
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        .clearfix
                  .clearfix
                %li
                  #2.comment
                    .avatar
                      =image_tag current_user.github_avatar if current_user
                    .comment-des
                      .arrow-comment
                      .comment-by
                        %strong
                          =current_user.nickname
                        %span.date July 30, 2013
                        %span.reply
                          %a{href: "#"}
                            %i.fa.fa-reply
                            Reply
                      %p
                        At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint
                    .clearfix
                %li
                  #4.comment
                    .avatar
                      =image_tag current_user.github_avatar if current_user
                    .comment-des
                      .arrow-comment
                      .comment-by
                        %strong
                          =current_user.nickname
                        %span.date July 30, 2013
                        %span.reply
                          %a{href: "#"}
                            %i.fa.fa-reply
                            Reply
                      %p
                        Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
                    .clearfix
            .clearfix
          / Comments Section End
          .blog-divider
          / Reply Section Start
          .reply
            %h3.title Leave a reply
            %form#reply.reply
              %fieldset
                .row
                  .col-lg-12.col-md-12.col-sm-12.col-xs-12
                    %label
                      Comment:
                      %span *
                    %textarea.form-control{cols: "40", required: "", rows: "3"}
              .text-center
                %button.btn.btn-2.btn-2c{type: "submit"}
                  Post Reply
              .clearfix
          / /Reply Section
        / /Post Block
        / Sidebar Start
        .sidebar.col-lg-3.col-md-3.col-sm-4.col-xs-12
          .widget.category
            %h3.title Categories
            =categories_list
