%section#section2.page-title
.text-center
  -if @snada
    =image_tag @snada.github_avatar, class: 'img-circle', style: 'img-circle', width: 150, height: 150, alt: "stefano nada's avatar"
.blog-divider
%section#section3.blog
  .content
    .container
      .row
        .posts-block.col-lg-1.col-md-1.col-sm-0.col-xs-0
        .posts-block.col-lg-10.col-md-10.col-sm-12.col-xs-12
          %p
            Hi, I'm Stefano Nada, software developer from Torino (Italy), and this is my personal blog.
          %p
            I'm currently employed by TheFork, a TripAdvisor Company.
          %p
            I enjoy researching new and creative ways to use technology, strongly believing it's a form of art.
          %p
            My programming skills are mostly focused, but not limited to, these technologies:
          %p
            %ul
              %li
                Ruby
              %li
                PHP
              %li
                Node.js
              %li
                Java
              %li
                C#
              %li
                React/Redux
              %li
                Angular.js
          %p
            Drop me a line in the contact section, or follow the social links in the footer!
        .posts-block.col-lg-1.col-md-1.col-sm-0.col-xs-0
