%section#section2.page-title
.text-center
  -if @snada
    =image_tag @snada.github_avatar, class: 'img-circle', style: 'img-circle', width: 150, height: 150
.blog-divider
%section#section3.blog
  .content
    .container
      .row
        .posts-block.col-lg-1.col-md-1.col-sm-0.col-xs-0
        .posts-block.col-lg-10.col-md-10.col-sm-12.col-xs-12
          %p
            Hi, I'm Stefano Nada, and this is my personal blog.
          %p
            I'm currently employed by TheFork, a TripAdvisor Company.
          %p
            I enjoy researching new and creative ways to use technology, strongly believing it's a form of art.
          %p
            Drop me a line in the contact section, or follow the social links in the footer!
          %p
            My programming skills are mostly focused, but not limited to, these technologies:
          %br
          %p
            %ul
              %li.progress{style: 'opacity: 1; left: 0px;'}
                .progress-bar{'data-width': 85, style: "width: 90%"}
                  Ruby
              %li.progress
                .progress-bar{'data-width': 80, style: "width: 85%"}
                  PHP
              %li.progress
                .progress-bar{'data-width': 85, style: "width: 85%"}
                  Node.js
              %li.progress
                .progress-bar{'data-width': 85, style: "width: 70%"}
                  Java
              %li.progress
                .progress-bar{'data-width': 85, style: "width: 70%"}
                  C#
              %li.progress
                .progress-bar{'data-width': 85, style: "width: 70%"}
                  React/Redux
              %li.progress
                .progress-bar{'data-width': 85, style: "width: 60%"}
                  Angular.js
        .posts-block.col-lg-1.col-md-1.col-sm-0.col-xs-0
