%section#section2.page-title
.text-center
  -if @snada
    =image_tag @snada.github_avatar, class: 'img-circle', width: 150, height: 150, alt: "stefano nada's avatar"
.blog-divider
%section#section3.blog
  .content
    .container
      .row
        .posts-block.col-lg-1.col-md-1.col-sm-0.col-xs-0
        .posts-block.col-lg-10.col-md-10.col-sm-12.col-xs-12
          %p
            Hi, I'm Stefano Nada, Software Engineer originally from Torino (Italy) and now living in Toronto, Canada. This is my personal blog.
          %p
            I'm currently employed by Ticketmaster's Universe and previously by TheFork, a TripAdvisor Company.
          %p
            I enjoy researching new and creative ways to use technology, strongly believing it's a form of art.
          %p
            I mostly work with Ruby and Javscript (ES6, React/Redux, Node), but I like to play with many other languages and tools, also outside of the web world.
          %p
            Drop me a line in the contact section, or follow the social links in the footer!
        .posts-block.col-lg-1.col-md-1.col-sm-0.col-xs-0
