%section#section2.page-title
  .row
    .col-md-12.big-title
      %h2 snada.it
.text-center
  %h3
    Latest posts
.blog-divider
%section#section3.blog
  .content
    .container
      =render 'posts/post_list'
      .text-center
        =link_to 'All posts', posts_path, class: 'btn btn-2'
